
.body_class{
    width:100%;
    min-height: 100%;
    margin: 0  auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.body_class_image_list{
    width:25%;
    height:100px;
    text-align: center;
    padding:3%;



}