{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>엄지 유치원</title>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Gothic+Coding&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

</head>


</head>

<style>

</style>
<body>
<div class="background_img"></div>
<div class="web_wrapper">
    <div class="web_wrapper_frame">
        <div class="web_wrapper_frame_wrapper">
            <div class="nav">
                <div class="nav_logo">
                    <div class="nav_logo_content">로고</div>
                </div>
                <div class="nav_list">
                    <div class="nav_hoo_content"><i class="fas fa-home fa-2x"></i>

                    </div>
                </div>
                <div class="nav_list">
                    <div class="nav_hoo_content"><i class="fas fa-list-ul fa-2x"></i>

                    </div>
                </div>
            </div>
            <div class="body">
                <div class="body_upper">
                    <div class="body_upper_picture"></div>
                </div>
                <div class="body_down">
                    <div class="body_down_list">

                        <div class="body_down_list_contents">

                            <div class="body_down_list_contents_picture"><a href="{% url "thumb_page:intro" %}">
                                <i class="fas fa-school fa-3x"></i>

                            </a>
                            </div>
                            <div class="body_down_list_contents_text">원소개</div>
                        </div>
                        </a>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="fas fa-pencil-alt fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">교육안내</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="far fa-calendar-alt fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">월간행사일정</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="fas fa-graduation-cap fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">입학안내</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="fas fa-utensils fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">식단표</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="fas fa-microphone fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">공지사항</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href="{% url "thumb_page:class_story" %}"><i class="fas fa-child fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="{% url "thumb_page:class_story" %}">우리반이야기</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="fas fa-phone-volume fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">전화상담</a></div>
                        </div>
                        <div class="body_down_list_contents">
                            <div class="body_down_list_contents_picture"><a href=""><i class="fas fa-map-marked-alt fa-3x"></i>

</a></div>
                            <div class="body_down_list_contents_text"><a href="">오시는길</a></div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="footer">
                <div class="footer_upper">
                    {% if user.is_authenticated %}
                        <div class="footer_upper_logout">
                            <div class="footer_upper_logout_content">로그아웃</div>
                        </div>
                    {% else %}
                        <div class="footer_upper_login">
                            <div class="footer_upper_login_content">
                                로그인
                            </div>
                        </div>
                        <div class="footer_upper_signup">
                            <div class="footer_upper_signup_content">회원가입</div>
                        </div>
                    {% endif %}
                </div>
                <div class="footer_down">
                    <div class="footer_down_address">
                        <div class="footer_down_address_content">경기도 부천시 오정구 여월동 44-7<br>032-684-8819</div>
                    </div>
                    <div class="footer_down_company">
                        <div class="footer_down_company_content">&copy;엄지유치원</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>